<%- include("partials/header") %>

<h1>Login Page for Auth</h1>
<a href="/">Back to Home</a>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Login!" />
</form>
<a href="/register">Sign Up</a>
<a href="">Sign Out</a>

<%- include("partials/header") %>
