<%- include("partials/header") %>

<h1>Registration Page for Auth</h1>
<a href="/">Back to Home</a>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Login!" />
</form>
<a href="/login">Sign In</a>
<a href="/login">Back</a>

<%- include("partials/header") %>
